{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Product Page{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec2" class="text-page">
  <div class="container-fluid">
    <div class="row">
       <div class="col-lg-3">
       <div id="product-description">
                <h3>{{ product.title }}</h3>
                <p>{{ product.description|safe }}</p>
           {% if product_segment.title == 'biuro' or '' %}
           <table class="striped">
            <tbody> {% if product.format_size %}
              <tr>
                <td>
                  {% trans "Format" %}:
                </td>
                <td>
                  {{ product.format_size }}
                </td>
              </tr>{% endif %} {% if product.group_category.all %}
              <tr>
                <td>
                  {% trans "Rodzaj" %}:
                </td>
                <td>
                    {% for g in product.group_category.all  %}
                      {{ g.title }}, &nbsp;
                    {% endfor %}
                </td>

              </tr>{% endif %} {% if product.accessories.all %}
            <tr>
                <td>
                {% trans "Dodatki" %}:
                </td>
                <td>
                  {% for a in product.accessories.all %}
                      {{ a.title }}, &nbsp;
                    {% endfor %}
                </td>
            </tr>{% endif %} {% if product.finishing.all %}
            <tr>
              <td>
                {%  trans "Uszlachetnienie" %}:&nbsp;
              </td>
              <td>
               {% for f in product.finishing.all  %}
                      {{ f.title }} &nbsp;
                    {% endfor %}
              </td>
            </tr>{% endif %}
            </tbody>
            </table>
           {% if product.document.url %}
               <p>Szablon PDF: &nbsp;<a href="{{ product.document.url }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a></p>
           {% endif %}{% endif %}
       <div id="msg-info" class="alert alert-info">
          {% trans "Dziękujemy za kontakt, wkrótce skontaktuje się z Tobą nasz przedstawiciel." %}
           </div>
       </div>
           <a href="{% url 'adoffice:test' %}" class="fm-create btn btn-primary" data-fm-target="#msg-info" data-fm-head="{% trans "Wyślij zapytanie" %}-{{ product.title }}" data-fm-callback="replace">{% trans "Wyślij zapytanie" %}</a>

           <div class="product-navigation visible-lg hidden-xs hidden-sm hidden-md">
                    <div class="product-nav">
                       <a class="glyphicon glyphicon-chevron-left" href="{{ product.get_prev.get_absolute_url }}" id="product-prev"></a>
                        <a class="glyphicon glyphicon-th-large" href="{{ category.get_absolute_url }}" title="{% trans 'Powrót do katalogu'%}"></a>
                        <!--<div class="product-gallery"></div>-->
                       <a class="glyphicon glyphicon-chevron-right" href="{{ product.get_next.get_absolute_url }}" id="product-next"></a>
                    </div>
               </div>
       </div>
        <div class="col-lg-9">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides produkt -->
                    <div class="carousel-inner">
                    {% if product_images %}
                        {% for p in product_images %}

                        <div class="item {% if forloop.first %}active{% endif %}">

                            <img class="img-responsive" src="{% static p.picture.url %}" alt="">
                        </div>
                    {% endfor %}
                    {% endif %}


                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        <div class="product-navigation col-lg-3 hidden-lg">
            <div class="product-nav">
                <a class="glyphicon glyphicon-chevron-left" href="{{ product.get_prev.get_absolute_url }}" id="product-prev"></a>
                <a href="{{ product.get_absolute_url}}"><span class="glyphicon glyphicon-th-large"></span></a>
                <!--<div class="product-gallery"></div>-->
                <a class="glyphicon glyphicon-chevron-right" href="{{ product.get_next.get_absolute_url }}" id="product-next"></a>
            </div>
        </div>

    </div>
    </div>
  </div>
</div>


{% endblock container %}

{% block scripts %}
     <script>
        $(function() {
            $.fm({debug: true});
        });
        </script>
{% endblock scripts %}
